/* 
通用scss
m为margin
f为flex
b为背景
c为颜色
fz为字体大小
p为padding
*/
// min-height: calc(100vh - 0.75rem - 0.98rem);

/* 去除图片占位 */
img {
	outline-width : 0px;
	vertical-align: top;
	object-fit    : cover;
}

/* 全景渐变 */
.linear-bg {
	background: linear-gradient(45deg,
			rgba(59, 172, 226, 0.8) 0%,
			rgba(117, 188, 40, 0.8) 70%);
}

.linear-bg1 {
	background: linear-gradient(30deg,
			rgba(59, 172, 226, 0.8) 0%,
			rgba(117, 188, 40, 0.8) 70%);
}

.linear-bg2 {
	background: linear-gradient(30deg, #57B9D9, #43CC43);
}


/* 全景颜色 */
.bg {
	background: #43cc43;
}

.c43 {
	color: #43cc43;
}

.c333,
.c3 {
	color: #333;
}

.c9,
.c999 {
	color: #999;
}

.c0 {
	color: #000;
}

.cf {
	color: #fff;
}

.m0 {
	margin: 0 auto;
}

.pd98 {
	padding-bottom: .98rem;
}

.h100 {
	height: 100vh;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1;
}

.flex4 {
	flex: 4;
}

.fs {
	flex-shrink: 0;
}

.fd {
	flex-direction: column;
}

.fw {
	flex-wrap: wrap;
}

.f0 {
	align-items: center;
}

.f1 {
	justify-content: center;
}

.f2 {
	justify-content: space-around;
}

.f3 {
	justify-content: space-between;
}

.f4 {
	justify-content: flex-end;
}

.tc {
	text-align: center;
}

.fw {
	font-weight: bold;
}


.fz18 {
	font-size: .18rem;
}

.fz24 {
	font-size: .24rem;
}

.fz26 {
	font-size: .26rem;
}

.fz28 {
	font-size: .28rem;
}

.fz30 {
	font-size: .3rem;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 18px;
}

.f20 {
	font-size: 20px;
}


.f24 {
	font-size: 24px;
}

.f26 {
	font-size: 26px;
}

.f28 {
	font-size: 28px;
}

.f30 {
	font-size: 30px;
}

.f36 {
	font-size: 36px;
}


.bt {
	cursor: pointer;

	&:active {
		position: relative;
		opacity : 0.9;
		bottom  : 2px !important;

	}

	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select  : none;
	/* Chrome/Safari/Opera */
	-khtml-user-select   : none;
	/* Konqueror */
	-moz-user-select     : none;
	/* Firefox */
	-ms-user-select      : none;
	/* Internet Explorer/Edge */
	user-select          : none;
}

.c28 {
	color: #282828;
}

/* 过渡动画 */
.add_url-enter-active,
.add_url-leave-active {
	transition: opacity 0.2s;
}

.add_url-enter,
.add_url-leave-active {
	opacity: 0;
}

@keyframes buzz {

	0% {

		transform: translate3d(0, 0, 0);

	}

	50% {
		transform: translate3d(0, -0.25rem, 0);
	}

	100% {

		transform: translate3d(0, 0, 0);


	}

}

@keyframes left_x {

	0% {
		transform: translate3d(0, 0, 0);
	}


	50% {
		transform: translate3d(-0.25rem, 0, 0);
	}

	100% {

		transform: translate3d(0, 0, 0);


	}
}

@keyframes top_y {

	0% {
		transform: translate3d(0, -50%, 0);
	}


	100% {
		transform: translate3d(0, -0.25rem, 0);
	}

}

@keyframes bottom_y {

	0% {
		transform: translate3d(0, 50%, 0);
	}


	100% {
		transform: translate3d(0, -0.25rem, 0);
	}

}

.t1 {
	display           : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow          : hidden;
}

.t2 {
	display           : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow          : hidden;
}

.t3 {
	display           : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow          : hidden;
}
